<div class="side-bar-header">
  <div class="header-name">
   <%= link_to current_user.first_name %>
  </div>
  <div class="create-topic">
      <%=form_with url: "/topics", method: :post, local: true do |f|%>
      <div class='create-topic-form_label'>
        <%= f.text_field :topic_item, class: 'create-topic-form_input', placeholder: 'トピックを作成する'%>
      </div>
        <%= f.submit '作成する', class: 'create-topic__action-btn'%>    
      <% end %>
   </div>
</div>

<div class="topics">
<% @topics.each do |topic| %>
<div class="topic">
  <div class="topic-name">
      <p><%= topic.topic_item %></p>
  </div>
   <div class="arrow">
        <span><%= image_tag 'arrow_top.png',size: "16x16" %></span>
     <ul class="more_list" >
            <li>
              <%= link_to 'item追加', @item %>
            </li>
            <li>
              <%= link_to '編集', edit_topic_path(topic.id), method: :get %>
            </li>
            <li>
              <%= link_to '削除', topic_path(topic.id), method: :delete %>
            </li>
        </ul>
   </div>
</div>
      <% end %> 
</div>

        